.presentation {
  position: relative;
}


.slide {
  min-height: 100vh;

  hr {
    height: 3px;
    width: 100%;
    max-width: 60rem;
    background-color: rgba(#fff, .25);
    margin: 4.8rem auto;
  }

  &__view {
    padding-top: 12rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__tab-layout {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
  }

  &__page {
    flex-grow: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__tabs {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-bottom: 4.8rem;
  }

  &__tab {
    font-size: 2rem;
    padding: 0.8rem 2.4rem 1.2rem;
    border-radius: 10rem;
    background-color: rgba(#fff, .25);

    transition: background-color 0.2s ease-out, color 0.2s ease-out, transform 0.1s ease-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &.active {
      background-color: var(--primary);
      color: var(--background);
    }

    &:not(:last-child) {
      margin-right: 2.4rem;
    }
  }

  &__content-box {

    width: 100%;
    max-width: 90rem;

    h4 {
      font-size: 3.2rem;
      margin-bottom: 1.2rem;
    }

    p {
      font-size: 2rem;
    }

  }

  &__image-box {
    width: 100%;
    flex-grow: 10;

    @include flexCenter;

    img {
      height: 65vh;
    }
  }

  // Text Classes

  &__centered {
    min-height: 100vh;
    @include flexCenter;
  }

  &__title {
    font-size: 3.6rem;
  }

  &__jumbo-title {
    font-size: 6.4rem;
  }

  &__super-title {
    font-size: 12rem;

    &.hard-light {
      mix-blend-mode: hard-light;
    }
  }

  &__subtitle {
    font-size: 2.4rem;

    margin-top: 2.4rem;

    &.large {
      font-size: 2.8rem;
    }

    &.max-70 {
      max-width: 70rem;
      text-align: center;
    }
    
    &.max-80 {
      max-width: 80rem;
      text-align: center;
    }

  }

  &__caption {
    font-size: 2.8rem;
    margin-top: 3.2rem;
  }

  &__video {
    @include flexCenter;
  }

  &__logos {
    margin-top: 9.6rem;
    opacity: .4;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 6.4rem;
    grid-row-gap: 2.4rem;
    font-size: 3.6rem;
  }

}


.host-controls {

  width: 100%;
  @include flexCenter;
  
  position: fixed;
  bottom: 5.6rem;
  z-index: 99999;

  &__bar {
    display: flex;
    align-items: center;

    height: 6.4rem;
    background-color: #333;
    border-radius: 6.4rem;
  }

  &__guests {
    padding: 0 2.4rem;
    width: 14rem;
    font-size: 1.8rem;
    text-align: center;
  }

  &__button {
    display: block;
    border: none;
    background: none;
    color: var(--primary);

    cursor: pointer;
    transition: transform 0.1s ease-in-out, filter 0.2s ease-out;

    &:hover {
      transform: scale(1.15);
    }

    svg {
      height: 6.4rem;
      width: 6.4rem;
    }

    &.back svg {
      transform: rotate(180deg);
    }

    &.disabled {
      pointer-events: none;
      filter: grayscale(80%) opacity(70%);
    }
  }

}