*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include ipadPro {
      font-size: 56.25%; //1rem = 9px
  }
  
  @include ipad {
      font-size: 50%; //1rem = 8px
  }

  @include iphone {
      font-size: 43.75%; //1rem = 7px;
  }

}


body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100vw;
}