// Add Fonts
@font-face {
  font-family: 'Recoleta';
  src: url('../../assets/recoleta/Recoleta-Medium.eot');
  src: local('Recoleta Medium'), local('Recoleta-Medium'),
      url('../../assets/recoleta/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../assets/recoleta/Recoleta-Medium.woff2') format('woff2'),
      url('../../assets/recoleta/Recoleta-Medium.woff') format('woff'),
      url('../../assets/recoleta/Recoleta-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../assets/recoleta/Recoleta-SemiBold.eot');
  src: local('Recoleta SemiBold'), local('Recoleta-SemiBold'),
      url('../../assets/recoleta/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/recoleta/Recoleta-SemiBold.woff2') format('woff2'),
      url('../../assets/recoleta/Recoleta-SemiBold.woff') format('woff'),
      url('../../assets/recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../assets/recoleta/Recoleta-Regular.eot');
  src: local('Recoleta Regular'), local('Recoleta-Regular'),
      url('../../assets/recoleta/Recoleta-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../assets/recoleta/Recoleta-Regular.woff2') format('woff2'),
      url('../../assets/recoleta/Recoleta-Regular.woff') format('woff'),
      url('../../assets/recoleta/Recoleta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../assets/recoleta/Recoleta-Bold.eot');
  src: local('Recoleta Bold'), local('Recoleta-Bold'),
      url('../../assets/recoleta/Recoleta-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../assets/recoleta/Recoleta-Bold.woff2') format('woff2'),
      url('../../assets/recoleta/Recoleta-Bold.woff') format('woff'),
      url('../../assets/recoleta/Recoleta-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


$body-font: sofia-pro, sans-serif;
$heading-font: 'Recoleta', sans-serif;


// Start Fucking With Typography
body {
  font-size: 1.6rem;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: $heading-font;
  font-weight: 400;
  line-height: 1.2;
}

h4, h5, h6 {
  font-family: $body-font;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.02em;
}


button, input, textarea {
  font-family: $body-font;
}


.accent {
  
  &--primary {
    color: var(--primary);
  }
  
}

.centered-text {
  text-align: center;
}

.exclusion {
  mix-blend-mode: exclusion;
}